<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,92}</string>
                <key>spriteSourceSize</key>
                <string>{45,92}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,92}</string>
                <key>spriteSourceSize</key>
                <string>{45,92}</string>
                <key>textureRect</key>
                <string>{{0,92},{45,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,92}</string>
                <key>spriteSourceSize</key>
                <string>{45,92}</string>
                <key>textureRect</key>
                <string>{{0,184},{45,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,92}</string>
                <key>spriteSourceSize</key>
                <string>{45,92}</string>
                <key>textureRect</key>
                <string>{{0,276},{45,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,92}</string>
                <key>spriteSourceSize</key>
                <string>{45,92}</string>
                <key>textureRect</key>
                <string>{{0,368},{45,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,92}</string>
                <key>spriteSourceSize</key>
                <string>{45,92}</string>
                <key>textureRect</key>
                <string>{{0,460},{45,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,92}</string>
                <key>spriteSourceSize</key>
                <string>{45,92}</string>
                <key>textureRect</key>
                <string>{{0,552},{45,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CharJump.png</string>
            <key>size</key>
            <string>{45,644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb43e5f5d872168f14ccc4ec24fb0774:77159e7136564af76968ec14f2ef09e1:05062c6577cffc0c2e602e0a75bedf0a$</string>
            <key>textureFileName</key>
            <string>CharJump.png</string>
        </dict>
    </dict>
</plist>
