<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,94}</string>
                <key>spriteSourceSize</key>
                <string>{45,94}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,94}</string>
                <key>spriteSourceSize</key>
                <string>{45,94}</string>
                <key>textureRect</key>
                <string>{{0,94},{45,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,94}</string>
                <key>spriteSourceSize</key>
                <string>{45,94}</string>
                <key>textureRect</key>
                <string>{{0,940},{45,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,94}</string>
                <key>spriteSourceSize</key>
                <string>{45,94}</string>
                <key>textureRect</key>
                <string>{{0,1034},{45,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,94}</string>
                <key>spriteSourceSize</key>
                <string>{45,94}</string>
                <key>textureRect</key>
                <string>{{0,1128},{45,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,94}</string>
                <key>spriteSourceSize</key>
                <string>{45,94}</string>
                <key>textureRect</key>
                <string>{{0,1222},{45,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,94}</string>
                <key>spriteSourceSize</key>
                <string>{45,94}</string>
                <key>textureRect</key>
                <string>{{0,1316},{45,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,94}</string>
                <key>spriteSourceSize</key>
                <string>{45,94}</string>
                <key>textureRect</key>
                <string>{{0,188},{45,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,94}</string>
                <key>spriteSourceSize</key>
                <string>{45,94}</string>
                <key>textureRect</key>
                <string>{{0,282},{45,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,94}</string>
                <key>spriteSourceSize</key>
                <string>{45,94}</string>
                <key>textureRect</key>
                <string>{{0,376},{45,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,94}</string>
                <key>spriteSourceSize</key>
                <string>{45,94}</string>
                <key>textureRect</key>
                <string>{{0,470},{45,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,94}</string>
                <key>spriteSourceSize</key>
                <string>{45,94}</string>
                <key>textureRect</key>
                <string>{{0,564},{45,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,94}</string>
                <key>spriteSourceSize</key>
                <string>{45,94}</string>
                <key>textureRect</key>
                <string>{{0,658},{45,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,94}</string>
                <key>spriteSourceSize</key>
                <string>{45,94}</string>
                <key>textureRect</key>
                <string>{{0,752},{45,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,94}</string>
                <key>spriteSourceSize</key>
                <string>{45,94}</string>
                <key>textureRect</key>
                <string>{{0,846},{45,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Walking Animation.png</string>
            <key>size</key>
            <string>{45,1410}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b66cc3e281278e1244815dcf75eb990:f41a4f76bbda0d47920fbd525b2f7af6:fb36f46511de2c8abbe02a44aef069eb$</string>
            <key>textureFileName</key>
            <string>Walking Animation.png</string>
        </dict>
    </dict>
</plist>
