<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,77}</string>
                <key>spriteSourceSize</key>
                <string>{50,77}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,77}</string>
                <key>spriteSourceSize</key>
                <string>{50,77}</string>
                <key>textureRect</key>
                <string>{{0,77},{50,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,77}</string>
                <key>spriteSourceSize</key>
                <string>{50,77}</string>
                <key>textureRect</key>
                <string>{{0,154},{50,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,77}</string>
                <key>spriteSourceSize</key>
                <string>{50,77}</string>
                <key>textureRect</key>
                <string>{{0,231},{50,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,77}</string>
                <key>spriteSourceSize</key>
                <string>{50,77}</string>
                <key>textureRect</key>
                <string>{{0,308},{50,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,77}</string>
                <key>spriteSourceSize</key>
                <string>{50,77}</string>
                <key>textureRect</key>
                <string>{{0,385},{50,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,77}</string>
                <key>spriteSourceSize</key>
                <string>{50,77}</string>
                <key>textureRect</key>
                <string>{{0,462},{50,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,77}</string>
                <key>spriteSourceSize</key>
                <string>{50,77}</string>
                <key>textureRect</key>
                <string>{{0,539},{50,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,77}</string>
                <key>spriteSourceSize</key>
                <string>{50,77}</string>
                <key>textureRect</key>
                <string>{{0,616},{50,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,77}</string>
                <key>spriteSourceSize</key>
                <string>{50,77}</string>
                <key>textureRect</key>
                <string>{{0,693},{50,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,77}</string>
                <key>spriteSourceSize</key>
                <string>{50,77}</string>
                <key>textureRect</key>
                <string>{{0,770},{50,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,77}</string>
                <key>spriteSourceSize</key>
                <string>{50,77}</string>
                <key>textureRect</key>
                <string>{{0,847},{50,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Enemy Walk Animation.png</string>
            <key>size</key>
            <string>{50,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b538ce8e7d7296e73e09f9bdb5c57ce7:23b3c3742853937c9a2bd9c856941008:c28b8ff92752ac8d1c3fd1c993747580$</string>
            <key>textureFileName</key>
            <string>Enemy Walk Animation.png</string>
        </dict>
    </dict>
</plist>
