<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{0,0},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1300,0},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{2600,0},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{0,650},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1300,650},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{2600,650},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{0,1300},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1300,1300},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{2600,1300},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{0,1950},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>87.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1300,1950},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{2600,1950},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>89.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{0,2600},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1300,2600},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{2600,2600},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{0,3250},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1300,3250},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{2600,3250},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>First Page Turn-0.png</string>
            <key>size</key>
            <string>{3900,3900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58937de6fe6dd18eb4f8f679f7c38c44:c9bd179a0dbb863d0dceffe048deb41a:1f17339d0dd35842c09e1d6a48edd528$</string>
            <key>textureFileName</key>
            <string>First Page Turn-0.png</string>
        </dict>
    </dict>
</plist>
