<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>163.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1,1},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>164.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1303,1},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>165.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{2605,1},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>166.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1,653},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1303,653},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>168.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{2605,653},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>169.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1,1305},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>170.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1303,1305},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>171.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{2605,1305},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>172.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1,1957},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>173.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1303,1957},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>174.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{2605,1957},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>175.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1,2609},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>176.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1303,2609},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>177.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{2605,2609},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>178.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1,3261},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>179.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1303,3261},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{2605,3261},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>openScene-1.png</string>
            <key>size</key>
            <string>{3906,3912}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:314d83c446746174baaececaea75359a:5c8e7a7adb49eda3c9ebad71f6f6d15d:f7f93a3d368bee72c52bb119defa1ae9$</string>
            <key>textureFileName</key>
            <string>openScene-1.png</string>
        </dict>
    </dict>
</plist>
