<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{0,0},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1300,0},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{2600,0},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{0,650},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1300,650},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{2600,650},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{0,1300},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1300,1300},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{2600,1300},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{0,1950},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1300,1950},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>151.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{2600,1950},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>152.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{0,2600},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>153.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1300,2600},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>154.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{2600,2600},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>155.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{0,3250},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>156.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1300,3250},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>157.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{2600,3250},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Room.png</string>
            <key>size</key>
            <string>{3900,3900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:467ad212c580d6641c80350de34e20a4:572fdd7bd5e4fa189cf399a3b78f3284:fd8106f82d6fa8efbff9fb6017dff07f$</string>
            <key>textureFileName</key>
            <string>Room.png</string>
        </dict>
    </dict>
</plist>
