<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{0,0},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1300,0},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{2600,0},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{0,650},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1300,650},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{2600,650},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{0,1300},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1300,1300},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{2600,1300},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{0,1950},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1300,1950},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{2600,1950},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{0,2600},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1300,2600},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{2600,2600},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{0,3250},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{1300,3250},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,650}</string>
                <key>spriteSourceSize</key>
                <string>{1300,650}</string>
                <key>textureRect</key>
                <string>{{2600,3250},{1300,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Splash Screen Cover Animation-1.png</string>
            <key>size</key>
            <string>{3900,3900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e762aa73c6d7b9d71636a3e7bd6b971c:ec06b84c61f16df74ce268f98c456d73:8b90050f387b2fd7b15a3a1fea234eed$</string>
            <key>textureFileName</key>
            <string>Splash Screen Cover Animation-1.png</string>
        </dict>
    </dict>
</plist>
